
h1= title
h3= data

-
  let tabView = {
    tabs: [
      {key:"detail", name:"Detail", file:"tabs/detail", 
        data:{
          content:data
        }
      },
      {key:"detail2", name:"Detail2", file:"tabs/detail2", 
        data:{
          //- location:data.location
        }
      },
    ]
  }
include tab